# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 🔐 Claves y configuraciones privadas
.env

# 🧱 Node.js
node_modules/
package-lock.json
npm-debug.log
yarn.lock
Datos_Prueba.txt
.env.production
.env.development

# 💻 Sistemas operativos
.DS_Store
Thumbs.db

# ⚙️ Archivos temporales o de desarrollo
*.log
*.tmp
*.swp
*.bak

# 🚀 Archivos de deploy locales
build/

# ⚙️ Visual Studio Code u otros IDEs
.vscode/
.idea/

# 🔒 Archivos de Stripe o configs locales
stripe-logs/